<IfModule mod_rewrite.c>
#   Options +FollowSymLinks
#   RewriteEngine On
#   RewriteBase /
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteRule ^(.*)$ index.php?kohana_uri=$1 [QSA,PT,L]
#   RewriteRule ^$ index.php?kohana_uri=$1 [QSA,PT,L]
#   RewriteRule ^index.php/(.*) $1 [QSA,R,L]
</IfModule>

SetEnv MYSQL_HOST localhost
SetEnv MYSQL_PORT 3306
SetEnv MYSQL_BDD studynet
SetEnv MYSQL_USER root
SetEnv MYSQL_PASS @dmDev@tom

php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value session.gc_maxlifetime 3600