body, html, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	border: none;
	&.mini{
		width: 24px;

		&.w-10{
			width: 10px;
		}

		&.h-10{
			height: 10px;
		}

		&.w-12{
			width: 12px;
		}

		&.h-12{
			height: 12px;
		}

		&.w-14{
			width: 14px;
		}

		&.h-14{
			height: 14px;
		}

		&.w-16{
			width: 16px;
		}

		&.h-16{
			height: 16px;
		}
	}
}

a{
	color: #007bff;
	&:link, &:visited{
		color: #007bff;
		text-decoration: none;
	}
	&:hover {
		color: orange;
	}
}

main{
	font-size: 14px;
	font-family: Tahoma, Verdana, Sans Serif, serif;
	> section {
		min-width: 600px;
		overflow: hidden;
		width: 98%;
		margin: 5px auto;
		border: solid 1px lightgrey;
		border-radius: 0 10px 50px;
		min-height: 400px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		padding: 1rem;

		&.flexcol {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		&.vertical-center{
			align-items: center;
		}

		>h1, >h2, >h3{
			display: block;
			width: 100%;
			text-align: center;
		}

		> article {
			min-width: 400px;
			min-height: 200px;
			display: flex;
			flex-direction: column;
			border-radius: 7px;
			border: solid 1px black;
			margin: 5px 5px;

			> header {
				height: 30px;
				line-height: 30px;
				background-color: black;
				color: white;
				text-align: center;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				text-transform: uppercase;
				font-size: 1.2rem;
			}

			> section {
				min-height: 150px;
				padding: 5px;
				text-align: justify;
			}

			> footer {
				height: 20px;
				text-align: right;
				font-size: 0.8em;
				padding-right: 2px;
				color: white;
				background-color: #343a40;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}

		> div {
			display: block;
			width: 100%;
		}

		@media print {
			border: none;
		}
	}
}