table{
	border-collapse: collapse;
	width: 800px;
	margin: 10px auto;
	border: solid 1px black;

	thead{
		tr{
			th{
				background-color: black;
				color: white;
				padding-top: 5px;
				padding-bottom: 5px;

				&:first-child{

				}

				&.actions{
					width: 20%;
				}
			}
		}
	}
	caption{
		padding: 5px;
		caption-side: bottom;
		text-align: right;
	}
	tbody{
		tr{
			border: solid 1px black;
			td{
				border: solid 1px black;
				padding: .2rem;
				vertical-align: middle;
				line-height: 2.3rem;
				min-height: 2.3rem;

				img{
					&.mini{
						max-height: 16px;
						max-width: 16px;
						vertical-align: middle;
					}
				}

				&.actions{
					border: none;
					display: flex;
					align-items: center;
					justify-content: space-around;
					padding-top: 0.5rem;
					img{
						width: 2rem;
						height: auto;
					}
				}
			}
			&:hover{
				background-color: #eeeeee;
			}
		}
	}
}