body, html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: none;
}
img.mini {
  width: 24px;
}
img.mini.w-10 {
  width: 10px;
}
img.mini.h-10 {
  height: 10px;
}
img.mini.w-12 {
  width: 12px;
}
img.mini.h-12 {
  height: 12px;
}
img.mini.w-14 {
  width: 14px;
}
img.mini.h-14 {
  height: 14px;
}
img.mini.w-16 {
  width: 16px;
}
img.mini.h-16 {
  height: 16px;
}

a {
  color: #007bff;
}
a:link, a:visited {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: orange;
}

main {
  font-size: 14px;
  font-family: Tahoma, Verdana, Sans Serif, serif;
}
main > section {
  min-width: 600px;
  overflow: hidden;
  width: 98%;
  margin: 5px auto;
  border: solid 1px lightgrey;
  border-radius: 0 10px 50px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}
main > section.flexcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
main > section.vertical-center {
  align-items: center;
}
main > section > h1, main > section > h2, main > section > h3 {
  display: block;
  width: 100%;
  text-align: center;
}
main > section > article {
  min-width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  border: solid 1px black;
  margin: 5px 5px;
}
main > section > article > header {
  height: 30px;
  line-height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
main > section > article > section {
  min-height: 150px;
  padding: 5px;
  text-align: justify;
}
main > section > article > footer {
  height: 20px;
  text-align: right;
  font-size: 0.8em;
  padding-right: 2px;
  color: white;
  background-color: #343a40;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
main > section > div {
  display: block;
  width: 100%;
}
@media print {
  main > section {
    border: none;
  }
}

form {
  width: 60%;
  margin: 10px auto;
  border: solid 1px black;
}
form > header {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
form > div {
  display: flex;
  flex-direction: column;
}
form > div.field {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem;
  margin: 1rem;
  gap: 0.5rem;
}
form > div.field > label {
  display: inline-block;
  width: 30%;
}
form > div.field > div {
  display: flex;
  width: 100%;
}
form > div.field > div > select {
  width: 100%;
  margin-right: 15px;
}
form > div.field > div > input[type=text], form > div.field > div > input[type=date], form > div.field > div > input[type=password], form > div.field > div > textarea[type=text], form > div.field > div > textarea[type=date], form > div.field > div > textarea[type=password] {
  padding-left: 1rem;
  width: 100%;
  height: 30px;
}
form > div.field > div > input[type=checkbox], form > div.field > div > input[type=radio], form > div.field > div > textarea[type=checkbox], form > div.field > div > textarea[type=radio] {
  height: 20px;
}
form > div.field > div > input:required + span, form > div.field > div > textarea:required + span {
  color: orange;
}
form > div.field > div > input:required + span::after, form > div.field > div > textarea:required + span::after {
  content: "*";
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
}
form > div.field > div > input:required:valid + span, form > div.field > div > textarea:required:valid + span {
  color: green;
}
form > div.field > div > input:required:focus, form > div.field > div > textarea:required:focus {
  border-color: transparent;
  color: green;
}
form > div.field > div > input:required:focus:valid + span, form > div.field > div > textarea:required:focus:valid + span {
  color: green;
}
form > div.field > div > input:required:focus:valid + span::after, form > div.field > div > textarea:required:focus:valid + span::after {
  content: "*";
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
}
form > div.field > div > input:required:focus:invalid + span, form > div.field > div > textarea:required:focus:invalid + span {
  color: red;
}
form > div.field > div > input:required:focus:invalid + span::after, form > div.field > div > textarea:required:focus:invalid + span::after {
  content: "*";
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
}
form > div.field > div > textarea {
  width: 100%;
  height: 120px;
}
form > div.field > div > textarea:focus {
  color: green;
}
form > div.field > div.checkboxes {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  flex-direction: column;
  max-height: 250px;
  align-items: center;
}
form > div.field > div.checkboxes label {
  display: inline-block;
  width: 120px;
}
form > div.actions {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

#frmAuth {
  max-width: max(400px, 30%);
}

table {
  border-collapse: collapse;
  width: 800px;
  margin: 10px auto;
  border: solid 1px black;
}
table thead tr th {
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
table thead tr th.actions {
  width: 20%;
}
table caption {
  padding: 5px;
  caption-side: bottom;
  text-align: right;
}
table tbody tr {
  border: solid 1px black;
}
table tbody tr td {
  border: solid 1px black;
  padding: 0.2rem;
  vertical-align: middle;
  line-height: 2.3rem;
  min-height: 2.3rem;
}
table tbody tr td img.mini {
  max-height: 16px;
  max-width: 16px;
  vertical-align: middle;
}
table tbody tr td.actions {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.5rem;
}
table tbody tr td.actions img {
  width: 2rem;
  height: auto;
}
table tbody tr:hover {
  background-color: #eeeeee;
}

.promotion thead tr th:first-child {
  width: 30%;
}
.promotion tbody tr td {
  text-align: center;
}
.promotion tbody tr td:first-child {
  text-align: left;
}

.apprenants thead tr th:nth-child(1), .apprenants thead tr th:nth-child(2) {
  width: 16%;
}
.apprenants tbody tr td {
  text-align: center;
}
.apprenants tbody tr td:nth-child(1), .apprenants tbody tr td:nth-child(2) {
  text-align: left;
}

.titres thead tr th:first-child {
  width: 60%;
}
.titres tbody tr td {
  text-align: center;
}
.titres tbody tr td:first-child {
  text-align: left;
}

.projets {
  min-width: 70%;
}
.projets thead tr th {
  width: 12%;
}
.projets thead tr th:first-child {
  width: 40%;
}
.projets tbody tr td {
  text-align: center;
}
.projets tbody tr td:first-child {
  text-align: left;
}
.projets tbody tr td div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
}

.referentiel article header + div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  line-height: 30px;
  background-color: #eeeeee;
}
.referentiel article section h3 {
  margin: 10px 0;
}
.referentiel article section p {
  margin-bottom: 20px;
}
.referentiel article section.bloccompetences > ul > li {
  margin: 1rem 3rem;
}
.referentiel article section.bloccompetences > ul > li ul > li {
  margin: 0.2rem 3rem;
}

.projet article {
  min-width: 70%;
}
.projet article header + div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  line-height: 30px;
  background-color: #eeeeee;
}
.projet article section h3 {
  margin: 10px 0;
}
.projet article section p {
  min-height: 20px;
  margin-bottom: 20px;
}
.projet article section.fonctionnalites > ul > li, .projet article section.technologies > ul > li, .projet article section.suivis > ul > li {
  cursor: default;
  margin: 1rem 3rem;
}
.projet article section.fonctionnalites > ul > li a, .projet article section.technologies > ul > li a, .projet article section.suivis > ul > li a {
  margin-left: 10px;
}
.projet article section.fonctionnalites > ul > li ul > li, .projet article section.technologies > ul > li ul > li, .projet article section.suivis > ul > li ul > li {
  cursor: default;
  margin: 0.2rem 3rem;
}
.projet article section.fonctionnalites > ul > li ul > li a, .projet article section.technologies > ul > li ul > li a, .projet article section.suivis > ul > li ul > li a {
  margin-left: 10px;
}
.projet article section.suivis {
  padding-left: 0;
  padding-right: 0;
}
.projet article section.suivis h3 {
  padding-left: 5px;
}
.projet article section.suivis header {
  padding: 2px 2rem;
  border-top: solid 1px rgba(220, 220, 220, 0.8);
  border-bottom: solid 1px rgba(220, 220, 220, 0.8);
  background-color: rgba(240, 240, 240, 0.8);
  font-weight: bolder;
  font-size: 1rem;
  line-height: 30px;
  min-height: 30px;
}
.projet article section.suivis header a {
  margin-left: 10px;
}
.projet article section.suivis header img {
  vertical-align: middle;
}
.projet article section.suivis p {
  padding: 15px 4rem;
}

main > header {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  height: 140px;
}
main > header > div {
  border: none;
  margin: 0;
  text-align: center;
}
main > header > div > img {
  max-height: 120px;
  max-width: 120px;
}
main > header > div > p {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 120px;
}
@media print {
  main > header {
    display: none;
  }
}

main > nav {
  width: 98%;
  margin: 0 auto;
  background-color: black;
  min-height: 30px;
  border-radius: 5px;
}
main > nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main > nav > ul li {
  text-transform: uppercase;
  width: 200px;
  line-height: 30px;
  font-weight: bolder;
  color: white;
}
main > nav > ul li a {
  transition: color 0.5s ease-in, background-color 0.5s ease-out;
}
main > nav > ul li a:link, main > nav > ul li a:hover, main > nav > ul li a:visited {
  display: block;
  color: white;
  text-align: center;
}
main > nav > ul li a:hover {
  background-color: white;
  color: black;
}
@media print {
  main > nav {
    display: none;
  }
}

button {
  height: 30px;
  width: 140px;
  margin: 2px;
}
button.btn {
  white-space: nowrap;
  font-size: 1.1em;
  outline: none;
  border: solid 1px #95999c;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #343a40;
  cursor: pointer;
  padding: 0 5px;
  font-weight: bold;
}
button.btn.btn-submit {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}
button.btn.btn-submit[disabled] {
  color: #777777;
}
button.btn.btn-action {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
button.btn.btn-info {
  background-color: #bce8f1;
  border-color: #bce8f1;
  color: white;
}
button.btn.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}
button.btn.btn-cancel {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}
button.btn:active:not([disabled]) {
  border-width: 0;
  box-shadow: inset 2px 2px 2px #343a40;
}

main > footer {
  width: 98%;
  margin: 0 auto 1rem;
  background-color: black;
  color: white;
  min-height: 30px;
  line-height: 30px;
  font-style: italic;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
main > footer .footer-link {
  color: white;
}
@media print {
  main > footer .footer-link {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
