body, html, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: Tahoma, Verdana, Sans Serif, serif;
}

img {
	border: none;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

main > header{
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: center;
}

main > header > div {
	border: none;
	margin: 0;
	text-align: center;
}

main > header > div > p {
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
}

main > nav {
	width: 98%;
	margin: 0 auto;
	background-color: black;
	min-height: 30px;
	border-radius: 5px;
}

main > nav > ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

main > nav > ul li {
	text-transform: uppercase;
	width: 200px;
	line-height: 30px;
	font-weight: bolder;
	color: white;
}

main > nav > ul li a,
main > nav > ul li a:link,
main > nav > ul li a:hover,
main > nav > ul li a:visited{
	display: block;
	color: white;
	text-align: center;
}

main > nav > ul li a:hover{
	background-color: white;
	color: black;
}

main > #content {
	width: 98%;
	margin: 5px auto;
	border: solid 1px lightgrey;
	border-radius: 0px 10px 50px;
	min-height: 400px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

main > #content.flexcol{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

#content{
	min-width: 600px;
	overflow: hidden;
}

#content > article{
	min-width: 400px;
	height: 200px;
	display: flex;
	flex-direction: column;
	border-radius: 7px;
	border: solid 1px black;
	margin: 5px 5px;
}

#content > article > header{
	height: 30px;
	line-height: 30px;
	background-color: #343a40;
	color: #bce8f1;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#content > article > section{
	height: 150px;
	padding: 5px;
	text-align: justify;
}

#content > article > footer{
	height: 20px;
	text-align: right;
	font-size: 0.8em;
	padding-right: 2px;
	color: white;
	background-color: #343a40;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#content div{
	display: block;
	width: 100%;
}

main > footer{
	width: 98%;
	margin: 0 auto;
	background-color: black;
	color: white;
	min-height: 30px;
	line-height: 30px;
	font-style: italic;
	border-radius: 5px;
	text-align: center;
}

form{
	width: 60%;
	margin: 10px auto;
	border: solid 1px black;
}

form > header{
	background-color: black;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

table{
	border-collapse: collapse;
	width: 800px;
	margin: 10px auto; 
	border: solid 1px black;
}

table>thead>tr>th{
	background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

table>thead>tr>th:first-child{
	width: 10%;
}

table>thead>tr>th:last-child{
	width: 20%;
}

table img{
	width: 2rem;
	height: 2rem;
}

tbody>tr>td{
	border: solid 1px black;
	text-align: center;
} 

form > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 4px 0;
	padding: 0 2em;
}

form > div.xxl{
	flex-direction: column;
	align-items: flex-start;
}

form > div > label{
	display: inline-block;
	width: 30%;
}

form > div > select {
	min-width: 150px;
	margin: 5px;
}

form > div > input[type=text], form > div > input[type=date]{
	width: 70%;
	height: 30px;
}

form > div > input[type=checkbox], form > div > input[type=radio]{
	width: 70%;
	height: 20px;
}

form > div > textarea{
	width: 100%;
	height: 120px;
}

form > div > input:focus, form > div > textarea:focus{
	color: green;
}

form > div:last-child{
	justify-content: center ;
}

button {
	height: 30px;
	width: 140px;
	margin: 2px;
}

button.btn{
	white-space: nowrap;
	font-size: 1.1em;
	outline: none;
	border: solid 1px #95999c;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #343a40;
	cursor: pointer;
	padding: 0 5px;
	font-weight: bold;
}

button.btn.btn-submit{
	background-color: #28a745;
	border-color: #28a745;
	color: white;
}

button.btn.btn-submit[disabled]{
	color: #777777;
}

button.btn.btn-action{
	background-color: #007bff;
	border-color: #007bff;
	color: white;
}

button.btn.btn-info{
	background-color: #bce8f1;
	border-color: #bce8f1;
	color: white;
}

button.btn.btn-success{
	background-color: #28a745;
	border-color: #28a745;
	color: white;
}

button.btn.btn-cancel{
	background-color: #dc3545;
	border-color: #dc3545;
	color: white;
}

button.btn:active:not([disabled]){
	border-width: 0;
	box-shadow: inset 2px 2px 2px #343a40;
}