main {
	> footer {
		width: 98%;
		margin: 0 auto 1rem;
		background-color: black;
		color: white;
		min-height: 30px;
		line-height: 30px;
		font-style: italic;
		border-radius: 5px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10rem;
		.footer-link {
			color: white;
		}
	}
}