main{
	> header{
		display: grid;
		grid-template-columns: 140px 1fr;
		align-items: center;
		height: 140px;
		> div {
			border: none;
			margin: 0;
			text-align: center;
			> img{
				max-height: 120px;
				max-width: 120px;
			}
			> p {
				font-size: 3em;
				font-weight: bold;
				text-transform: uppercase;
				padding-right: 120px;
			}
		}
		@media print {
			display: none;
		}
	}
}