main{
	> nav {
		width: 98%;
		margin: 0 auto;
		background-color: black;
		min-height: 30px;
		border-radius: 5px;

		> ul {
			list-style-type: none;
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			li {
				text-transform: uppercase;
				width: 200px;
				line-height: 30px;
				font-weight: bolder;
				color: white;

				a{
					transition: color 0.5s ease-in, background-color 0.5s ease-out;
					&:link, &:hover, &:visited {
						display: block;
						color: white;
						text-align: center;
					}

					&:hover{
						background-color: white;
						color: black;
					}
				}
			}
		}
	}
}